.Form {
  display: flex;

  input {
    flex: 0.5 10ch;
    font-size: 1rem;
    margin-bottom: 2rem;

  &:focus {
    outline-width: 0.1px;
    outline-offset: -1px;
    outline-color: lightblue;
    }

  &[type="text"] {
      flex: 1 20ch;
      margin-right: .5rem;
    }

    &[type="submit"] {
      outline-color: white;
    }
  }
}

input {
  -webkit-appearance: none;
  border: none;
  background: hsl(0, 0%, 93%);
  border-radius: .25rem;
  padding: .75rem 1rem;
  
  &[type="submit"] {
    background: lightblue;
  }
}

@media (min-width: 768px) {
.Form {
  max-width: 50ch;
  margin: 0 auto;
  }
}
