@import "styles/variables.scss";
@import "~bootstrap/scss/bootstrap";

body {
  margin: 1rem;
  margin-top: 2rem;
}

h1, h2 {
  color: $primaryColor;
}

.header {
  text-align: center;
}

.Layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-control:focus {
  box-shadow: none;
}
